# Ignore Python cache and local virtual environment
__pycache__/
*.py[cod]

# Local virtual environment for this project
gcn_venv/

*mat
*pkl

Models_for_EEG_on_the_Datasets/
What_to_do/


# Jupyter checkpoints
.ipynb_checkpoints/
